.todo-container {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

ul {
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-container {
  display: flex;
}

.todo-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

.button--add {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button--add:disabled {
  background-color: #ace1af;
  cursor: not-allowed;
  opacity: 0.5;
}

.button--add:enabled {
  background-color: #32de84;
}
