.todo-container {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

ul {
  padding: 0;
}

.main-content {
  display: flex;
}

.todo-list {
  width: 73%;
  padding-right: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.select-field {
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.todo-container textarea {
  width: 100%;
  box-sizing: border-box;
}

.description-container {
  width: 27%;
  padding-left: 10px;
  border-left: 1px solid #CCCC;
}

.selected {
  background-color: #d1e7dd;
  border-left: 4px solid #0f5132;
}
