<div class="todo-container">
  <h1>{{ componentTitle }}</h1>
  <app-todolist-item *ngFor="let item of listItems"
                     [listItem]="item"
                     (delete)="deleteItem(item.id)"
                     class="todo-item"/>
  <div class="input-container">
    <input matInput
           [(ngModel)]="newItemValue"
           placeholder="{{ inputPlaceholder }}"
           class="todo-input"/>
    <button (click)="addItem(newItemValue); newItemValue=''" [disabled]="!newItemValue.trim()" class="button button--add">
      {{ addButtonTitle }}
    </button>
  </div>
</div>
