.todo-container {
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

ul {
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.todo-text {
  font-size: 16px;
}

.delete-button {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #f1f1f1;
}

.input-container {
  display: flex;
}

.todo-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

.add-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.add-button:disabled {
  background-color: #d8bfd8;
  cursor: not-allowed;
}

.add-button:enabled {
  background-color: #720e9e;
}
