<div class="input-container">
  <input matInput
         [(ngModel)]="newItemTitle"
         placeholder="{{ inputPlaceholder }}"
         class="todo-input"/>
  <app-button [disabled]="!newItemTitle.trim()"
              [additionalCssClasses]="'button--add'"
              (click)="createItem(newItemTitle, newItemDescription); newItemTitle=''; newItemDescription=''"
              appTooltip="Click here to add new item">
    {{ addButtonTitle }}
  </app-button>
</div>

<textarea matInput
          [(ngModel)]="newItemDescription"
          placeholder="{{ descriptionPlaceholder }}"
          class="todo-textarea">
</textarea>
