<div>
  <app-loading-spinner *ngIf="isLoading; else content"></app-loading-spinner>
  <ng-template #content>
    <div class="columns">
      <div *ngFor="let status of statuses" class="status-column">
        <h2>{{ status }}</h2>
        <div class="todo-list">
          <app-todolist-item *ngFor="let item of getAllListItemsByStatus(status)"
                             class="todo-item"
                             [listItem]="item"
                             (delete)="deleteItem(item.id)"
                             (update)="updateItem($event)"/>
        </div>
      </div>
    </div>
    <router-outlet/>
  </ng-template>
</div>
