<div (dblclick)="enableEdit()" appTooltip= "{{ 'listItem.edit.tooltip' | translate }}">
  <input type="checkbox" [checked]="listItem.status === ItemStatus.COMPLETED" (change)="toggleStatus()">
  <span *ngIf="!isEditing" class="todo-text">{{ listItem.title }}</span>

  <div *ngIf="isEditing">
    <input type="text" [(ngModel)]="editTitle" />
    <app-button (click)="saveTitle()"
                [additionalCssClasses]="'button--save'">
      {{ 'button.save.title' | translate }}
    </app-button>
  </div>
</div>
<app-button (click)="deleteItem()"
            [additionalCssClasses]="'button--delete'"
            appTooltip="{{ 'listItem.delete.tooltip' | translate }}">
  {{ 'button.delete.title' | translate }}
</app-button>
